name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - 'master'
      - 'releases/*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3.1.1
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Action
        run: npm run all

  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Execute Action
        uses: ./
        with:
          token: ${{ secrets.DEV_PUSH_TOKEN }}
          user: ${{ secrets.DEV_PUSH_USER }}
          optimistic: true
