name: Release

on:
  push:
    tags:
      - '*'

jobs:
  update_release_draft:
    uses: Staffbase/gha-workflows/.github/workflows/template_release_drafter.yml@v6.2.0
    with:
      publish: true
      name: ${{ github.ref_name }}
      tag: ${{ github.ref_name }}
    secrets:
      app_id: ${{ vars.STAFFBASE_ACTIONS_APP_ID }}
      private_key: ${{ secrets.STAFFBASE_ACTIONS_PRIVATE_KEY }}
